.container {

    $color-primary: red;
    $color-secondary: blue;
    $color-tertiary: green;


    border: 1px solid $color-primary;

  .title {
    width: 100%;

    h1 {
        padding-top: 40px;
        margin: auto;
        text-align: center;
        width: 464px;
        font-size: 1.8rem;
        color: $color-tertiary;
        border-bottom: 1px solid $color-secondary;
      }
  }

  .content {
    display: flex;
    margin: 0 12px;
    padding: 0;

    p {
        padding: 1rem;
        text-align: center;
        border: 1px solid $color-tertiary;
      }
  }

  #blue {
    color: $color-secondary;
  }

  #red {
    color: $color-primary;
  }
}